<ion-header>
  <ion-toolbar>
    <ion-searchbar color="buscador" style="position: -ms-page; padding:5px"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content style="justify-content: center;">
<ion-card-content >
  <nav id="avatar" >

  <ion-grid>
    <ion-row class="barra">
      <ion-col >
        <div >
          <ion-avatar class="primer">
            <img src="https://images.unsplash.com/photo-1548192746-dd526f154ed9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
          </ion-avatar>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-avatar>
            <img src="https://images.unsplash.com/photo-1548192746-dd526f154ed9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
          </ion-avatar>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-avatar>
            <img src="https://images.unsplash.com/photo-1548192746-dd526f154ed9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
          </ion-avatar>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-row class=barra>
    <ion-col size="4">
      
      <div>
        <ion-avatar>
          <img src="https://images.unsplash.com/photo-1548192746-dd526f154ed9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
        </ion-avatar>
      </div>

    </ion-col >
    <ion-col size="4">
      
      <div>
        <ion-avatar>
          <img src="https://images.unsplash.com/photo-1548192746-dd526f154ed9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
        </ion-avatar>
      </div>

    </ion-col>
    <ion-col size="4">
      
      <div>
        <ion-avatar>
          <img src="https://images.unsplash.com/photo-1548192746-dd526f154ed9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
        </ion-avatar>
      </div>

    </ion-col>
  </ion-row>

  <ion-row class="barra">
    <ion-col size="4">
      
      <div>
        <ion-avatar>
          <img src="https://images.unsplash.com/photo-1548192746-dd526f154ed9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
        </ion-avatar>
      </div>

    </ion-col >
    <ion-col size="4">
      
      <div>
        <ion-avatar>
          <img src="https://images.unsplash.com/photo-1548192746-dd526f154ed9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
        </ion-avatar>
      </div>

    </ion-col>
    <ion-col size="4">
      
      <div>
        <ion-avatar>
          <img src="https://images.unsplash.com/photo-1548192746-dd526f154ed9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
        </ion-avatar>
      </div>
      
    </ion-col>
  </ion-row>

  <ion-row class="barra">
    <ion-col size="4">
      
      <div>
        <ion-avatar>
          <img src="https://images.unsplash.com/photo-1548192746-dd526f154ed9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
        </ion-avatar>
      </div>

    </ion-col >
    <ion-col size="4">
      
      <div>
        <ion-avatar>
          <img src="https://images.unsplash.com/photo-1548192746-dd526f154ed9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
        </ion-avatar>
      </div>

    </ion-col>
    <ion-col size="4">
      
      <div>
        <ion-avatar>
          <img src="https://images.unsplash.com/photo-1548192746-dd526f154ed9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
        </ion-avatar>
      </div>
      
    </ion-col>
  </ion-row>

  <ion-row class="barra">
    <ion-col size="4">
      
      <div>
        <ion-avatar>
          <img src="https://images.unsplash.com/photo-1548192746-dd526f154ed9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
        </ion-avatar>
      </div>

    </ion-col >
    <ion-col size="4">
      
      <div>
        <ion-avatar>
          <img src="https://images.unsplash.com/photo-1548192746-dd526f154ed9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
        </ion-avatar>
      </div>

    </ion-col>
    <ion-col size="4">
      
      <div>
        <ion-avatar>
          <img src="https://images.unsplash.com/photo-1548192746-dd526f154ed9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
        </ion-avatar>
      </div>
      
    </ion-col>
  </ion-row>

  </nav>
</ion-card-content>
</ion-content>

<ion-footer class="ion-no-border" >
  <ion-toolbar color="buscador">
    <nav id="pie">
      <div class="pies">
        <ion-button color="buscador">
          <ion-icon src="assets/footer/inicio.svg"  ></ion-icon>
        </ion-button>
      </div>

      <div class="pies">
        <ion-button color="buscador">
          <ion-icon src="assets/footer/mapa.svg" ></ion-icon>
        </ion-button>
      </div>

      <div class="pies">
        <ion-button color="buscador">
          <ion-icon  src="assets/footer/comunidad.svg" ></ion-icon>
        </ion-button>
      </div>

      <div class="pies">
        <ion-button color="buscador">
          <ion-icon src="assets/footer/cupones especiales.svg" ></ion-icon>
        </ion-button>
      </div>

      <div class="pies" style="box-shadow: none;">
        <ion-button color="buscador"    >
          <ion-icon src="assets/footer/nosotros.svg" ></ion-icon>
        </ion-button>
      </div>
    </nav>
  </ion-toolbar>
</ion-footer>
